<%- include('../partials/header'); -%>

<div class="container mt-4">
    <div class="pb-3 mb-3 d-flex border-bottom">
        <h4 class="m-0 p-0 me-1">All Hashtags</h4>
        
        <h5 class="m-0 p-0"> (<%= count %>)</h5>
<div> 
    
</div>
    </div>
    <div class="shadow-solid border rounded p-3">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="bg-quaternary text-light">
                    <tr>
                        <th scope="col">Hashtag Title</th>
                        <th scope="col">Number of Photos</th>
                        <th scope="col">Total Worth Locked</th>
                        <th scope="col">Average Photo Worth</th>
                    </tr>
                </thead>
                <tbody>
                    <% const shades = ['#f2f2f2', '#e6e6e6', '#d9d9d9', '#cccccc', '#bfbfbf']; %>
                    <% for (let i = 0; i < datas.length; i++) { %>
                    <tr>
                        <td>
                            <div style="display: flex; align-items: center;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                                    <path d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"></path>
                                </svg>
                                <div style="display: inline-block; border-radius: 20px; padding: 5px 10px; background-color: <%= shades[i % shades.length] %>;">
                                    <%= datas[i].title %>
                                </div>
                            </div>
                        </td>
                        <td><%= datas[i].count %></td>
                        <td><%= datas[i].utilityTokensLocked %></td>
                        <td><%= datas[i].utilityTokensLocked/datas[i].count  %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            
        </div>
    </div>
    <button id="downloadButton" class="btn btn-primary">Download Data</button>

<script>
  const downloadButton = document.getElementById('downloadButton');
  downloadButton.addEventListener('click', (event) => {
    event.preventDefault(); // Prevent the default button behavior

    // Get the table rows
    const tableRows = document.querySelectorAll('tbody tr');

    // Generate the CSV data
    const data = [["Hashtag Title", "Number of Photos", "Total Worth Locked", "Average Photo Worth"]];
    tableRows.forEach((row) => {
        const title = row.querySelector('td:nth-child(1) div').textContent.trim();      const count = row.querySelector('td:nth-child(2)').textContent.trim();
      const utilityTokensLocked = row.querySelector('td:nth-child(3)').textContent.trim();
      const tokensPerCount = parseFloat(utilityTokensLocked) / parseFloat(count);
      data.push([title, count, utilityTokensLocked, tokensPerCount]);
    });

    const csvContent = "data:text/csv;charset=utf-8," + encodeURIComponent(data.map(row => row.join(",")).join("\n"));

    // Create a temporary anchor element and download the CSV file
    const link = document.createElement("a");
    link.setAttribute("href", csvContent);
    link.setAttribute("download", "data.csv");
    link.style.display = "none";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  });
</script>
</div>

<%- include('../partials/footer'); -%>
